NODE_ENV=prod

APP_NAME="Appweaver"
APP_DESCRIPTION="Appweaver - simple, fast, and reliable web application builder tool"
APP_HOSTNAME=http://localhost:5000
APP_RUNTIME=node
APP_BUILD_PATH=./dist
APP_SOURCE_PATH=./src
APP_SCAN_FILES_PATTERN=./*/index.ts
APP_AUTOLOAD_MODULES=aws-storage,service-bus

SERVER_PORT=5000
SERVER_HOST=0.0.0.0
SERVER_API_PREFIX=/api
SERVER_BODY_LIMIT_BYTES=104857600
SERVER_STATIC_ENABLED=true
SERVER_STATIC_DIR_PATH=./public
SERVER_STATIC_ROUTE_PREFIX=/public
SERVER_STATIC_MAX_AGE=30d
SERVER_STATIC_ALLOWED_HOST=
SERVER_TRUST_PROXY=true
SERVER_REQUEST_LOGGING_ENABLED=false

LOG_LEVEL=info
LOG_PATH=./logs
LOG_ROTATE=true
LOG_ROTATE_SIZE=100M
LOG_ROTATE_MAX_SIZE=5G
LOG_ROTATE_MAX_FILES=1000
LOG_ROTATE_INTERVAL=1d
LOG_ROTATE_COMPRESS=true
LOG_PRETTY=false

RATE_LIMIT_ENABLED=true
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW=60000
RATE_LIMIT_ALLOW_LIST=127.0.0.1,192.168.5.1
RATE_LIMIT_STORE=redis

SWAGGER_ENABLED=true
SWAGGER_PATH=/swagger
SWAGGER_HIDE_UNTAGGED=false

HEALTH_CHECK_ENABLED=true
HEALTH_CHECK_AUTH=true
HEALTH_CHECK_ROUTE_PREFIX=/health
HEALTH_CHECK_PICK_INSTANCES=database,redis,storage
HEALTH_CHECK_OMIT_INSTANCES=

CORS_ORIGIN=*
CORS_METHODS=*
CORS_ALLOWED_HEADERS=*
CORS_EXPOSED_HEADERS=*
CORS_MAX_AGE=86400
CORS_CREDENTIALS=true

RESOURCE_MODEL_PATTERN=./resources/*/model.ts
RESOURCE_SERVICE_PATTERN=./resources/*/service.ts
RESOURCE_POLICY_PATTERN=./resources/*/policy.ts
RESOURCE_ROUTE_PATTERN=./resources/*/route.ts
RESOURCE_GENERATED_TYPES_PATH=./types/generated.ts

EXPORT_BATCH_SIZE=1000
EXPORT_CSV_DELIMITER=;
EXPORT_CSV_JOIN_DELIMITER=,
EXPORT_CSV_ADD_HEADERS=true
EXPORT_CSV_ADD_SEP_ROW=false

SECURITY_ROUTE_PREFIX=/auth
SECURITY_CACHE_TTL=300000
SECURITY_AUTH_OTT_TTL=120000
SECURITY_ALLOWED_REDIRECT_HOSTS=*
SECURITY_STORE_PROVIDER=@appweaver/core/security/store/redis-security-store
SECURITY_STORE_KEEP_DATABASE_TABLE=false
SECURITY_PASSWORD_ENABLED=true
SECURITY_PASSWORD_MIN_LENGTH=8
SECURITY_PASSWORD_MAX_LENGTH=100
SECURITY_PASSWORD_UPPERCASE=true
SECURITY_PASSWORD_LOWERCASE=true
SECURITY_PASSWORD_NUMERIC=true
SECURITY_PASSWORD_SPECIAL=true
SECURITY_ACCOUNT_ROUTE_PREFIX=/auth/account
SECURITY_ACCOUNT_VERIFY_EMAIL_ENABLED=true
SECURITY_ACCOUNT_VERIFY_EMAIL_OTT_TTL=7200000
SECURITY_ACCOUNT_RESET_PASSWORD_ENABLED=true
SECURITY_ACCOUNT_RESET_PASSWORD_OTT_TTL=1800000
SECURITY_ACCOUNT_2FA_ENABLED=true
SECURITY_ACCOUNT_2FA_FORCED=false
SECURITY_ACCOUNT_2FA_OTT_TTL=300000
SECURITY_RECAPTCHA_ENABLED=false
SECURITY_RECAPTCHA_SECRET=8LcDc8AUBBBBNKcefrwaDdfDSFdsfaewf
SECURITY_RECAPTCHA_HEADER_NAME=x-recaptcha-token
SECURITY_RECAPTCHA_MIN_SCORE=0.4
SECURITY_RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
SECURITY_BASIC_ENABLED=false
SECURITY_BASIC_REALM=example
SECURITY_BASIC_PROXY_MODE=false
SECURITY_API_KEY_ENABLED=false
SECURITY_API_KEY_KEEP_DATABASE_TABLE=false
SECURITY_API_KEY_HEADER_NAME=x-api-key
SECURITY_API_KEY_MAX_DURATION=2592000
SECURITY_API_KEY_DELIMITER=AK
SECURITY_JWT_SECRET=GdvCFezoPIZdOAN3IQZR3JhaAZH6S6AJ
SECURITY_JWT_PUBLIC_KEY_PATH=./storage/keys/public.key
SECURITY_JWT_PRIVATE_KEY_PATH=./storage/keys/private.key
SECURITY_JWT_AUTO_GENERATE_KEYS=true
SECURITY_JWT_EXPIRES_IN=2592000
SECURITY_JWT_REFRESH_EXPIRES_IN=5184000
SECURITY_OAUTH2_STATE_TTL=600000
SECURITY_OAUTH2_GOOGLE_ENABLED=true
SECURITY_OAUTH2_GOOGLE_CLIENT_ID=3255464567435-tzr346jsgh63462vdp234sodhpsfjzop.apps.googleusercontent.com
SECURITY_OAUTH2_GOOGLE_CLIENT_SECRET=Hjksuzrnm32nb5kdsnu274nfS
SECURITY_OAUTH2_GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
SECURITY_OAUTH2_FACEBOOK_ENABLED=true
SECURITY_OAUTH2_FACEBOOK_CLIENT_ID=152682898154865
SECURITY_OAUTH2_FACEBOOK_CLIENT_SECRET=89a8956f566c5655c6a56565a56c
SECURITY_OAUTH2_FACEBOOK_USER_INFO_URL=https://graph.facebook.com/me
SECURITY_OAUTH2_CUSTOM_ENABLED=true
SECURITY_OAUTH2_CUSTOM_CLIENT_ID=123345456723423
SECURITY_OAUTH2_CUSTOM_CLIENT_SECRET=32432af767af8c7946d456a54ca5
SECURITY_OAUTH2_CUSTOM_ISSUER=https://keycloak.example.com/realms/my-realm

DATABASE_URL=postgresql://appweaver:appweaver@localhost:5432/appweaver-sample?schema=public
DATABASE_SCHEMA_PATH=./database/schema.prisma
DATABASE_MIGRATIONS_DIR_PATH=./database/migrations
DATABASE_SEEDERS_DIR_PATH=./database/seeders
DATABASE_CLIENT_OUTPUT_DIR_PATH=./database/client
DATABASE_GENERATED_TYPES_PATH=./src/types/generated.ts
DATABASE_TRANSACTION_MAX_WAIT=2000
DATABASE_TRANSACTION_TIMEOUT=5000
DATABASE_LOG_EVENTS=query,info,warn,error
DATABASE_PROVIDER=@appweaver/core/database/prisma-database

STORAGE_PATH=./storage
STORAGE_NAME_PATTERN="{name}-{hash}.{extension}"
STORAGE_CACHE_TTL=86400000
STORAGE_PROVIDER=@appweaver/core/storage/filesystem-storage

REDIS_URL=redis://localhost:6379/0
REDIS_PROVIDER=@appweaver/core/memory/redis

MEMORY_MAX_SIZE_BYTES=104857600
MEMORY_PROVIDER=@appweaver/core/memory/in-memory

CACHE_ENABLED=true
CACHE_CLEAN_START=false
CACHE_KEY_PREFIX=cache:
CACHE_MAX_ITEMS=1000
CACHE_MAX_SIZE_BYTES=104857600
CACHE_DEFAULT_TTL=5000
CACHE_EVICTION_GRACE_PERIOD=1000
CACHE_EVICTION_STRATEGY=LRU
CACHE_EVICTION_DEFERRED=false
CACHE_INVALIDATION_STRATEGY=expire-related
CACHE_INVALIDATION_DEFERRED=false
CACHE_PROVIDER=@appweaver/core/cache/redis-cache

QUEUE_KEEP_COMPLETED_COUNT=0
QUEUE_KEEP_COMPLETED_SECONDS=
QUEUE_KEEP_FAILED_COUNT=50
QUEUE_KEEP_FAILED_SECONDS=
QUEUE_RETRY_ATTEMPTS=3
QUEUE_RETRY_BACKOFF=3000
QUEUE_RETRY_BACKOFF_TYPE=fixed
QUEUE_PROVIDER=@appweaver/core/queue/bull-queue

SCHEDULER_AUTO_START_JOB=true
SCHEDULER_PROVIDER=@appweaver/core/scheduler/cron-scheduler

EVENTS_MAX_LISTENERS=20
EVENTS_PROVIDER=@appweaver/core/events/node-events

MAILER_SENDER_NAME="John Doe"
MAILER_SENDER_ADDRESS=no-reply@appweaver.com
MAILER_PROVIDER=@appweaver/core/mailer/smtp-mailer
MAILER_SMTP_HOST=mail.appweaver.com
MAILER_SMTP_PORT=587
MAILER_SMTP_SECURE=false
MAILER_SMTP_USER=no-reply@appweaver.com
MAILER_SMTP_PASSWORD=

SYSTEM_ADMIN_INITIAL_EMAIL=admin@appweaver.com
SYSTEM_ADMIN_INITIAL_PASSWORD=Password1!
