NODE_ENV=prod

APP_NAME="Appweaver"
APP_DESCRIPTION="Appweaver - simple, fast, and reliable web application builder tool"
APP_HOSTNAME=http://localhost:6000
APP_BUILD_PATH=./dist
APP_SCAN_PATH=./src
APP_AUTOLOAD_MODULES=aws-storage,service-bus

SERVER_PORT=6000
SERVER_HOST=0.0.0.0
SERVER_API_PREFIX=/api
SERVER_BODY_LIMIT_BYTES=104857600
SERVER_STATIC_ENABLED=true
SERVER_STATIC_DIR_PATH=./public
SERVER_STATIC_ROUTE_PREFIX=/public
SERVER_STATIC_MAX_AGE=30d
SERVER_STATIC_ALLOWED_HOST=
SERVER_TRUST_PROXY=true
SERVER_REQUEST_LOGGING_ENABLED=false

LOG_LEVEL=info
LOG_PATH=./logs
LOG_ROTATE=true
LOG_ROTATE_SIZE=100M
LOG_ROTATE_MAX_SIZE=5G
LOG_ROTATE_MAX_FILES=1000
LOG_ROTATE_INTERVAL=1d
LOG_ROTATE_COMPRESS=true
LOG_PRETTY=false

RATE_LIMIT_ENABLED=true
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW=60000
RATE_LIMIT_ALLOW_LIST=127.0.0.1,192.168.5.1
RATE_LIMIT_STORE=redis

SWAGGER_ENABLED=true
SWAGGER_PATH=/swagger
SWAGGER_HIDE_UNTAGGED=false

HEALTH_CHECK_ENABLED=true
HEALTH_CHECK_AUTH=true
HEALTH_CHECK_ROUTE_PREFIX=/health

CORS_ORIGIN=*
CORS_METHODS=*
CORS_ALLOWED_HEADERS=*
CORS_EXPOSED_HEADERS=*
CORS_MAX_AGE=86400
CORS_CREDENTIALS=true

RESOURCE_MODEL_PATTERN=./src/resources/*/model.ts
RESOURCE_SERVICE_PATTERN=./src/resources/*/service.ts
RESOURCE_POLICY_PATTERN=./src/resources/*/policy.ts
RESOURCE_ROUTE_PATTERN=./src/resources/*/route.ts
RESOURCE_GENERATED_TYPES_PATH=./src/types/generated.ts

EXPORT_BATCH_SIZE=1000
EXPORT_CSV_DELIMITER=;
EXPORT_CSV_JOIN_DELIMITER=,
EXPORT_CSV_ADD_HEADERS=true
EXPORT_CSV_ADD_SEP_ROW=false

SECURITY_ROUTE_PREFIX=/auth
SECURITY_CACHE_TTL=300000
SECURITY_JWT_SECRET=GdvCFezoPIZdOAN3IQZR3JhaAZH6S6AJ
SECURITY_JWT_PUBLIC_KEY_PATH=./storage/keys/public.key
SECURITY_JWT_PRIVATE_KEY_PATH=./storage/keys/private.key
SECURITY_JWT_AUTO_GENERATE_KEYS=true
SECURITY_JWT_EXPIRES_IN=2592000
SECURITY_JWT_REFRESH_EXPIRES_IN=5184000
SECURITY_OAUTH2_ALLOWED_HOSTS=*
SECURITY_OAUTH2_STATE_TTL=600000
SECURITY_OAUTH2_OTT_TTL=120000
SECURITY_FACEBOOK_ENABLED=true
SECURITY_FACEBOOK_APP_ID=152682898154865
SECURITY_FACEBOOK_APP_SECRET=89a8956f566c5655c6a56565a56c

DATABASE_URL=postgresql://appweaver:appweaver@localhost:5432/appweaver-sample?schema=public
DATABASE_SCHEMA_PATH=./database/schema.prisma
DATABASE_MIGRATIONS_DIR_PATH=./database/migrations
DATABASE_SEEDERS_DIR_PATH=./database/seeders
DATABASE_CLIENT_OUTPUT_DIR_PATH=./database/client
DATABASE_GENERATED_TYPES_PATH=./src/types/generated.ts
DATABASE_TRANSACTION_MAX_WAIT=2000
DATABASE_TRANSACTION_TIMEOUT=5000
DATABASE_PROVIDER=@appweaver/core/database/prisma-database

STORAGE_PATH=./storage
STORAGE_NAME_PATTERN="{name}-{hash}.{extension}"
STORAGE_CACHE_TTL=86400000
STORAGE_PROVIDER=@appweaver/core/storage/filesystem-storage

REDIS_URL=redis://localhost:6379/0
REDIS_PROVIDER=@appweaver/core/memory/redis

MEMORY_MAX_SIZE_BYTES=104857600
MEMORY_PROVIDER=@appweaver/core/memory/in-memory

CACHE_ENABLED=true
CACHE_CLEAN_START=false
CACHE_KEY_PREFIX=cache:
CACHE_DEFAULT_TTL=5000
CACHE_EVICTION_GRACE_PERIOD=10000
CACHE_EVICTION_STRATEGY=LRU
CACHE_EVICTION_DEFERRED=false
CACHE_INVALIDATION_STRATEGY=expire-related
CACHE_INVALIDATION_DEFERRED=false
CACHE_PROVIDER=@appweaver/core/cache/redis-cache

QUEUE_KEEP_COMPLETED_COUNT=0
QUEUE_KEEP_COMPLETED_SECONDS=
QUEUE_KEEP_FAILED_COUNT=50
QUEUE_KEEP_FAILED_SECONDS=
QUEUE_RETRY_ATTEMPTS=3
QUEUE_RETRY_BACKOFF=3000
QUEUE_RETRY_BACKOFF_TYPE=fixed
QUEUE_PROVIDER=@appweaver/core/queue/bull-queue

SCHEDULER_AUTO_START_JOB=true
SCHEDULER_PROVIDER=@appweaver/core/scheduler/cron-scheduler

EVENTS_MAX_LISTENERS=10
EVENTS_PROVIDER=@appweaver/core/events/node-events

MAIL_SMTP_HOST=mail.appweaver.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=false
MAIL_SMTP_USER=no-reply@appweaver.com
MAIL_SMTP_PASSWORD=
MAIL_SENDER_NAME="John Doe"
MAIL_SENDER_ADDRESS=no-reply@appweaver.com
MAIL_PROVIDER=@appweaver/core/mailer/smtp-mailer

SYSTEM_ADMIN_INITIAL_EMAIL=admin@appweaver.com
SYSTEM_ADMIN_INITIAL_PASSWORD=Password1!
