NODE_ENV=prod

APP_NAME="Appweaver"
APP_DESCRIPTION="Appweaver - simple, fast, and reliable web application builder tool"
APP_HOSTNAME=http://localhost:6000

SERVER_PORT=6000
SERVER_HOST=0.0.0.0
SERVER_API_PREFIX=/api
SERVER_BODY_LIMIT_BYTES=104857600
SERVER_STATIC_ENABLED=true
SERVER_STATIC_DIR_PATH=./public
SERVER_STATIC_ROUTE_PREFIX=/public
SERVER_STATIC_MAX_AGE=30d
SERVER_STATIC_ALLOWED_HOST=

LOG_LEVEL=info
LOG_PATH=./logs
LOG_ROTATE=true
LOG_ROTATE_SIZE=100M
LOG_ROTATE_MAX_SIZE=5G
LOG_ROTATE_MAX_FILES=1000
LOG_ROTATE_INTERVAL=1d
LOG_ROTATE_COMPRESS=true
LOG_PRETTY=false

RATE_LIMIT_ENABLED=true
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW=60000
RATE_LIMIT_STORE=redis

SWAGGER_ENABLED=true
SWAGGER_PATH=/swagger

CORS_ORIGIN=*
CORS_METHODS=*
CORS_ALLOWED_HEADERS=*
CORS_EXPOSED_HEADERS=*
CORS_MAX_AGE=86400
CORS_CREDENTIALS=true

DATABASE_URL=postgresql://appweaver:appweaver@localhost:5432/appweaver-sample?schema=public
DATABASE_TRANSACTION_MAX_WAIT=2000
DATABASE_TRANSACTION_TIMEOUT=5000

REDIS_URL=redis://localhost:6379/0

STORAGE_PATH=./storage
STORAGE_NAME_PATTERN="{name}-{hash}.{extension}"
STORAGE_CACHE_DURATION=86400

SECURITY_ROUTE_PREFIX=/auth
SECURITY_JWT_SECRET=GdvCFezoPIZdOAN3IQZR3JhaAZH6S6AJ
SECURITY_JWT_EXPIRES_IN=2592000
SECURITY_JWT_REFRESH_EXPIRES_IN=5184000

QUEUE_KEEP_COMPLETED_COUNT=0
QUEUE_KEEP_COMPLETED_SECONDS=
QUEUE_KEEP_FAILED_COUNT=50
QUEUE_KEEP_FAILED_SECONDS=
QUEUE_RETRY_ATTEMPTS=3
QUEUE_RETRY_BACKOFF=3000
QUEUE_RETRY_BACKOFF_TYPE=fixed

SCHEDULER_AUTO_START_JOB=true

EVENTS_MAX_LISTENERS=10

EXPORT_BATCH_SIZE=1000
EXPORT_CSV_DELIMITER=;
EXPORT_CSV_JOIN_DELIMITER=,
EXPORT_CSV_ADD_HEADERS=true
EXPORT_CSV_ADD_SEP_ROW=false

MAIL_SMTP_HOST=mail.appweaver.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=false
MAIL_SMTP_USER=no-reply@appweaver.com
MAIL_SMTP_PASSWORD=
MAIL_SENDER_NAME="John Doe"
MAIL_SENDER_ADDRESS=no-reply@appweaver.com
MAIL_MOCK_SEND=false

SYSTEM_ADMIN_INITIAL_EMAIL=admin@appweaver.com
SYSTEM_ADMIN_INITIAL_PASSWORD=Password1!
