# source
**/*.ts

# definitions
!**/*.d.ts
!*.d.ts

# configuration
package-lock.json
tslint.json
tsconfig.json
.prettierrc

# build info file
*.tsbuildinfo

# env file
.env

# usage sample
sample

# build tools
tools
